.check_list_tabel {
    margin-left: 8.33333333%;
    width: 50%;
    margin-top: 5%;
}

.link_check {
    text-decoration: none;
    color: black;
}

.check_tabel {
    border-radius: 5px;
    border: 1px solid gray;
    overflow-x: auto;
}

td {
    padding: 10px !important;
}

.mcl {
    background-color: #21232908;
    text-align: start;
    padding: 15px;
}

.a_check {
    color: #0d6efd;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .check_list_tabel {
        margin-left: 0;
        width: 100%;
    }

    .tabel_list {
    }

    .check_tabel {
        display: block;
    }

    td {
        width: 100%;
        box-sizing: border-box;
    }

    .mcl {
        text-align: start;
    }

    .menus_div {
        flex-direction: column;
        /* Display as column for small screens */
    }

    .menus_div .mobile_menu_button {
        display: block;
        background-color: #cb3030;
    }
    .menu_nm
    {
        position: relative;
        color: white;
        left: 15px;
    }
    .menu_div_header {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        position: relative;
    }

    .menu_icon_main {
        font-size: 25px;
        position: absolute;
        right: 10px;
        color: white;
    }

    .first_part {
        display: none;
    }

    .second_part_details {
        width: 100%;
    }

    .menus_div.open .first_part {
        display: block;
    }
}