/* ForgotPassword.css */

.forgot_password_main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot_password_bg {
    margin: 3% 4%;
    width: 50%;
    padding: 3% 30%;
    text-align: center;
    background-color: white;
  }
  
  .cont_forgot_password {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .form {
    text-align: start;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }
  
  .label {
    font-weight: 700;
  }
  
  .input_forgot {
    border: none;
    border-bottom: 1px solid #c5c5c5;
    height: 52px;
    background-color: #f3efef;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 4px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }
  
  .submit_btn {
    height: 53px;
    font-size: 19px;
    font-weight: 600;
    background-color: #353333;
    color: white;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
  }
  
  .modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal.forgot {
    background: white;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    height: 40vh;
    width: 35%;
  }
  
  .modal.forgot p {
    margin-bottom: 20px;
  }
  
  .forgot_button {
    height: 53px;
    font-size: 19px;
    font-weight: 600;
    background-color: #353333;
    color: white;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    width: 30%;
  }
  .forgot_btn
  {
    width: 100%;
  }
  
 